
<nav>
<h3> <img mat-card-avatar 
src="https://media.istockphoto.com/vectors/vector-cartoon-of-happy-golf-ball-with-clubs-and-cart-vector-id486710150"  alt="Golf">    
 Social Golf Tribe - Skins Match </h3>
<hr>
<h4>TEAMS:: </h4> 

	<mat-grid-list cols="12" rowHeight="20px">
	<mat-grid-tile  *ngFor="let tt of Teams; let ii = index" 
	 [colspan]="3"  [rowspan]="1">
	<button mat-raised-button  color="primary" 
	routerLink="/crisis-list"
	routerLinkActive="activebutton"
	(click)="tempfn()">
	{{ii+1}} {{tt.tag}} 
	</button> 
	</mat-grid-tile>
</mat-grid-list>

	<hr>
	<p> </p>
</nav>

<router-outlet></router-outlet>

<div style="display: none;">
<!-- This HTML represents the initial state for the tutorial. It is not intended to appear in the app. -->
<app-crisis-list></app-crisis-list>
<app-heroes-list></app-heroes-list>

<!-- This HTML snippet is for when the user first adds the routerlink navigation. -->
<nav>
  <a class="button" routerLink="/crisis-list">Crisis Center</a> |
  <a class="button" routerLink="/heroes-list">Heroes</a>
</nav>


</div>


<div  *ngFor="let tt of Teams; let ii = index" > 
<mat-card>
<mat-card-content>

<p> </p>

<mat-accordion >
	<mat-expansion-panel >
		<mat-expansion-panel-header>
			<mat-panel-title>
				<button  mat-raised-button  color="warn"  > {{ tt.tag }} </button>
			</mat-panel-title>

			<mat-panel-description >
			<mat-chip-list>
			<mat-chip color="accent" selected>  {{ tt.wins }}   </mat-chip>
			</mat-chip-list>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<mat-grid-list cols="12" rowHeight="40px">
		<mat-grid-tile  [colspan]="4"  [rowspan]="1">
			<span> &nbsp; </span>
		</mat-grid-tile>
		<mat-grid-tile  [colspan]="4"  [rowspan]="1">
			<span> &nbsp; </span>
		</mat-grid-tile>
		<mat-grid-tile  [colspan]="4"  [rowspan]="1">
		<button mat-raised-button  color="primary"  (click)="tempfn()">Post Score</button> 
	</mat-grid-tile>
	</mat-grid-list>
		<hr> 

		<mat-grid-list cols="12" rowHeight="80px">
		<span  *ngFor="let xss of tt.sf9; let jj = index" >  
		<mat-grid-tile  [colspan]="4"  [rowspan]="1">
		<mat-form-field  class="in30px">
		<input  type="number"   [(ngModel)]="tt.sf9[jj]"  matInput placeholder="h# {{jj+1}}" />
		</mat-form-field>   
		</mat-grid-tile>
		</span> 
		</mat-grid-list>
		<hr> 

		<mat-grid-list cols="12" rowHeight="80px">
		<span  *ngFor="let xss of tt.sb9; let jj = index" >  
		<mat-grid-tile  [colspan]="4"  [rowspan]="1">
		<mat-form-field  class="in30px">
		<input  type="number"   [(ngModel)]="tt.sb9[jj]"  matInput placeholder="h# {{jj+10}}" />
		</mat-form-field>   
		</mat-grid-tile>
		</span> 
		</mat-grid-list>
		<hr> 

</mat-expansion-panel>
</mat-accordion>


</mat-card-content>
</mat-card>

</div>
